<h1>Treadin Trodden Trails</h1>
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" href="/trails">All Trails</a>
    {{!-- <a class="flex-sm-fill text-sm-center nav-link" href="/trails/new">Add A Trail</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a> --}}
    {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
</nav>

<div>
    <h3>Trail Name</h3>
    <p>{{trail.trailName}}</p>
</div>

<div>
    <h3>Distance</h3>
    <p>{{trail.distance}}</p>
</div>

<div>
    <h3>Difficulty</h3>
    <p>{{trail.difficulty}}</p>
</div>

<div>
    <h3>Rating</h3>
    <p>{{trail.rating}}</p>
</div>

<div>
    <h3>Description</h3>
    <p>{{trail.description}}</p>
</div>

<div>
    <h3>Image Link</h3>
    <p>{{trail.imgLink}}</p>
</div>

<div>
    <a class="btn btn-primary" href="/trails/{{trail._id}}/edit" role="button">Update Trail</a>

</div>



<form action="/trails/{{trail._id}}?_method=DELETE" method="POST">
    <button class="btn btn-primary" type="submit">Delete This Trail</button>
</form>


<h2>Comments</h2>
<ul>
    {{#each comment}}
    <li>{{comment}} {{_id}}</li>
    <form action="/trails/{{trailId}}/comments/{{_id}}?_method=DELETE" method="POST">
        <button class="btn btn-primary" type="submit">Delete This Comment</button>
    </form>
    {{/each}}
</ul>