<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" href="/trails">All Trails</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/trails/new">Add A Trail</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/users">Users</a>
  {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
</nav>


<div class="trail-cards">

  {{#each trails}}
  <div class="card" style="width: 18rem;">
    <img src="{{imgLink}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{trailName}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{_id}}</p>

      <a href="/trails/{{_id}}" class="btn btn-primary">More Details</a>
    </div>
  </div>
  {{/each}}
</div>


{{!-- {{#each trails}}

<p>Trail Name</p>
<p>{{trailName}}</p>
<p>{{_id}}</p>

<p>Trail Description</p>
<p>{{description}}</p>

{{/each}} --}}