<div>
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="/trails">All Trails</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/trails/new">Add A Trail</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="/users">Users</a>
    {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
  </nav>
  <div class="form-div">

    <div class="form-group">
      <div>
        <a class="btn btn-primary" href="/users/new">Add A User</a>

      </div>

      <hr>

      {{#each users}}
      <div class="form-group">
        User ID: {{userName}}</br>
        Name: {{firstName}} {{lastName}}</br>
        <div class="trail-buttons">
          <a class="btn btn-primary" href="/users/{{_id}}/edit" role="button">Update User</a>

          <form action="/users/{{_id}}?_method=DELETE" method="POST">
            <button class="btn btn-primary delete" type="submit" onclick="if (!confirm('Are you sure?')) { return false }">Delete This User</button>
          </form>

        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>